/* Base Css Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #00f098;
  --secondaryColor: #0b3b5a;
  --tertiaryColor: #0e1f4b;
  --violet: #6534ff;
  --white: #ffffff;
  --black: #000000;
  --red: #f00000;
  --redTwo: #a94442;

  /* // Fonts  */
  --font_epilogue: "Epilogue", sans-serif;
  --font_montserrat: "Montserrat", sans-serif;
  --font_roboto: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-padding-top: 9rem;
  overflow-y: scroll;
}
body {
  font-family: var(--font_epilogue);
  font-size: 1.5rem;
  color: #051a27;
  list-style: 1.65;
}
.f_montserrat {
  font-family: var(--font_montserrat);
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Base Css End */

/* utility css start */
.z-index-1 {
  z-index: 1;
}
.min-w-120 {
  min-width: 120px;
  text-align: center;
  justify-content: center;
}
.container {
  max-width: 1310px;
}
.radius-large {
  border-radius: 2.4rem;
}
.radius-30 {
  border-radius: 3rem !important;
}
.font_w_semibold {
  font-weight: 600;
}
/* utility css end */

/* header css start */
.header-area {
  z-index: 99;
  transition: 0.3s;
  padding: 2rem 0;
  min-height: 100px;
}
.header-area.stuck,
.header-area.type-3 {
  background-color: #fff;
  padding: 1.5rem 0;
  min-height: 70px;
  box-shadow: 0 5px 8px rgba(10, 58, 89, 0.1);
}
.logo {
  position: relative;
  z-index: 80;
}
.logo svg {
  width: 160px;
  height: 32px;
}
.stuck .logo svg path {
  transition: 0.2s;
}
.stuck .logo svg .b,
header.type-2 .logo svg .b,
header.type-3 .logo svg .b {
  fill: var(--secondaryColor);
}
.extra .logo svg .b {
  fill: var(--white) !important;
}
.navbar-toggle {
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 80;
}
.navbar-toggle .line {
  display: block;
  background-color: #fff;
  height: 0.2rem;
  width: 2.5rem;
  right: 0.3rem;
  top: 7px;
  border-radius: 0.2rem;
  transition: width 0.3s, transform 0.3s;
}
.stuck .navbar-toggle .line,
.type-3 .navbar-toggle .line {
  background-color: var(--secondaryColor);
}
.extra .stuck .navbar-toggle .line,
.extra .navbar-toggle .line {
  background-color: #fff;
}
.navbar-toggle .line:nth-child(2) {
  top: 1.5rem;
  width: 1.5rem;
}
.extra .navbar-toggle .line:first-child {
  transform: translateY(3px) rotate(45deg);
}
.extra .navbar-toggle .line:nth-child(2) {
  width: 2.5rem;
  transform: translateY(-5px) rotate(-45deg);
}
.main-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s;
  position: relative;
}

.main-menu li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 20px;
  background-color: var(--primaryColor);
  left: 0;
  border-radius: 15px;
  transition: 0.3s;
}
.main-menu li a:hover:after {
  width: 100%;
}
.main-menu li:not(:last-child) {
  margin-right: 34px;
}
.stuck .main-menu li a,
.type-3 .main-menu li a {
  color: var(--secondaryColor);
}
.btn.dark {
  background-color: #132a41;
  border-color: #132a41;
  color: #fff;
}
.btn.dark:hover {
  background-color: #fff;
  color: var(--secondaryColor);
}
.btn.dark:hover svg path {
  fill: var(--secondaryColor);
}
.profile-btn svg {
  transform: translateY(-2px);
}
.profile-btn svg path {
  transition: 0.3s;
}
.btn.sm {
  height: 46px;
  padding: 0 15px;
}
.m_menu_outer {
  position: fixed;
  background-color: var(--secondaryColor);
  top: 0;
  right: 0;
  height: 100vh;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  transition: 0.3s;
}
.extra .m_menu_outer {
  opacity: 1;
  visibility: visible;
}

.m_menu_outer .main-menu li a {
  font-size: 2.4rem;
  font-weight: 300;
}
.m_menu_outer .main-menu li {
  margin-bottom: 2.4rem;
}
.m_menu_inner {
  flex-basis: 100%;
  height: 100%;
  padding-top: 5rem;
  max-width: 50rem;
}
.m_menu_outer .main-menu li a {
  color: #fff;
}
.m_menu_inner .btns .btn {
  height: 52px;
  padding: 0 1.5rem;
  line-height: 50px;
}
.m_menu_inner .btns .btn:hover {
  background-color: #051a27;
}
.m_menu_inner .btns .btn.dark:hover {
  background-color: var(--white);
}
/* header css end */

/* header-bottom-area css start */
.header-bottom-area {
  padding-top: 10rem;
}
.header-bottom-area::after {
  content: "";
  width: 100%;
  height: calc(100% - 100px);
  background-color: var(--secondaryColor);
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.overlay {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: rgba(5, 26, 39, 0.56);
  z-index: 1;
}
.box-bg img {
  object-fit: cover;
}
.header-bottom-content-box {
  min-height: 55rem;
  border-radius: 2.4rem;
  overflow: hidden;
  padding: 6rem;
}
.inspection-form {
  border-radius: 500px;
  flex-basis: 100%;
  max-width: 80rem;
  background-color: #fff;
}
.ring {
  pointer-events: none;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
}
.ring.ring-1 {
  width: calc(100% + 4rem);
  height: calc(100% + 4rem);
  left: -2rem;
  top: -2rem;
  opacity: 0.15;
}
.ring.ring-2 {
  width: calc(100% + 8rem);
  height: calc(100% + 8rem);
  left: -4rem;
  top: -4rem;
  opacity: 0.1;
}
.ring.ring-3 {
  width: calc(100% + 12rem);
  height: calc(100% + 12rem);
  left: -6rem;
  top: -6rem;
  opacity: 0.05;
}
.fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 25rem;
  grid-gap: 15px;
  padding: 1.2rem 1.2rem 1.2rem 3.6rem;
}
.btn {
  background-color: var(--primaryColor);
  border-radius: 100px;
  color: var(--secondaryColor);
  font-weight: 500;
  padding: 14px 24px;
  font-size: 1.5rem;
  border: 2px solid var(--primaryColor);
  padding-bottom: 12px;
}
.btn:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  color: #fff;
}
.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.field label {
  font-size: 1.2rem;
  display: block;
  font-weight: 600;
  margin-bottom: 0px;
}
.form-control,
.form-select {
  font-size: 1.5rem;
  color: var(--secondaryColor);
  padding: 0 15px;
  height: 30px;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.h_btm_content h1 {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.h_btm_content p {
  color: var(--primaryColor);
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.h_btm_content {
  margin-bottom: 5rem;
}
.header-bottom-area .container {
  max-width: 1420px;
}
/* header-bottom-area css end */

/* choose-area css start */

.section-title h2 {
  color: var(--secondaryColor);
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.section-title {
  margin-bottom: 3rem;
}

.single-card {
  color: var(--secondaryColor);
  text-decoration: none;
  position: relative;
  border-radius: 1.2rem;
}
.cd-content h5 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
}
.cd-content p {
  margin-top: 1.6rem;
  color: #000;
  margin-bottom: 0;
}
.single-card::before {
  content: "";
  display: block;
  background-color: #f5f6f8;
  position: absolute;
  top: -0.9rem;
  left: -0.9rem;
  height: calc(100% + 1.8rem);
  width: calc(100% + 1.8rem);
  z-index: -1;
  border-radius: 1.2rem;
  transition: all 0.3s;
  opacity: 0;
  transform: scale(1.03);
  border-radius: 1.2rem;
}
.single-card:hover {
  color: var(--secondaryColor);
}
.single-card:hover::before {
  opacity: 1;
  transform: none;
}

.cd-thumb img {
  border-radius: 1.2rem;
}
.cd-thumb {
  margin-bottom: 2.2rem;
}
.section {
  padding: 8rem 0;
}
/* choose-area css end */

/* report-area css start */
.report-outer-box {
  background-color: var(--secondaryColor);
  padding: 4.5rem;
}
.report-outer-box::after {
  width: 50%;
  height: calc(100% + 30rem);
  content: "";
  position: absolute;
  background-color: var(--secondaryColor);
  border-radius: 2.4rem 100rem 100rem 2.4rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.report-img img {
  object-fit: cover;
}

.report-list li {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  padding-left: 2.8rem;
}
.report-list li::before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-check-circle-fill' viewBox='0 0 16 16' fill='%2300f098'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  position: absolute;
  top: 0;
}

.report-list li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.report-list li svg path {
  fill: var(--primaryColor);
}
.report-list li svg {
  margin-right: 1rem;
  transform: translateY(-1px);
}
.report-type-badge {
  color: var(--primaryColor);
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.section-title.white h2 {
  color: #fff;
}

/* report-area css end */

/* footer css start */
.footer-area {
  background-color: var(--secondaryColor);
  padding-top: 9rem;
}
.footer-top-part {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr 0.8fr;
  grid-gap: 30px;
  margin-bottom: 45px;
}

.ft-links li a {
  display: inline-block;
  color: #fff;
  opacity: 0.64;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.4rem;
}

.ft-links li a:hover {
  opacity: 1;
}
.ft-links li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.footer-widget h4 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.footer-middle-part {
  border-top: 1px solid hsla(0, 0%, 100%, 0.16);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
  padding: 3rem 0;
}
.terms li:not(:last-child) {
  margin-right: 24px;
}

.footer-bottom-part {
  border-top: 1px solid rgba(33, 33, 33, 0.2);
  padding: 30px 0;
}

.footer-middle-part h2 {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 600;
}
.footer-middle-part h2 span {
  font-weight: 300;
}
/* footer css end */

/* inspection page css start */
.cta-box {
  padding: 4.5rem;
}
.cta-box::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #0b3b5a, rgba(11, 59, 90, 0));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
}
.btn.bg_white {
  background-color: #fff;
  border-color: #fff;
  line-height: 1;
  font-weight: 600;
}
.btn.bg_white:hover {
  background-color: var(--secondaryColor);
  color: #fff;
}
.btn.bg_white:hover svg path {
  transition: 0.3s;
}
.btn.bg_white:hover svg path {
  fill: #fff;
}
.section-title h3 {
  color: #fff;
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.section-title.white p {
  color: #fff;
  margin-bottom: 3rem;
}
.btn-w-medium {
  min-width: 165px;
  text-align: center;
}
.report-list.type-2 li {
  color: #000;
  padding-left: 3rem;
}
.report-list.type-2 li::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-check-circle-fill' viewBox='0 0 16 16' fill='%236534FF'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'%3E%3C/path%3E%3C/svg%3E");
}
.color-grey {
  color: rgba(5, 26, 39, 0.4) !important;
}
.section-title p {
  font-size: 1.8rem;
  line-height: 1.2;
}

.choice-bg {
  width: 90%;
  left: 0;
}
.choice-bg img {
  object-fit: cover;
  border-radius: 0 2.4rem 2.4rem 0;
}
.choice-content-box {
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  padding: 10rem 5px;
}
.choice-content-box::before {
  content: "";
  height: 100%;
  width: 3000px;
  background-color: var(--secondaryColor);
  position: absolute;
  right: calc(100% - 5px);
  top: 0;
}
.ch-wrap {
  max-width: 45rem;
}
.section-title.white h2 span {
  color: var(--primaryColor);
}
.section-title.white h2 span {
  color: var(--primaryColor);
}

.btn.bg_primary:hover {
  background-color: transparent;
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn.bg_primary:hover svg path {
  fill: var(--primaryColor);
}
.ch-wrap .report-list {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.ch-images img {
  border: 1rem solid rgba(5, 26, 39, 0.36);
  border-radius: 2.4rem;
  max-height: 290px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.ch-images {
  width: 290px;
  height: 290px;
  top: 50% !important;
  transform: translateY(-50%);
}
.ch-images img.ch-1 {
  top: calc(50% + 5rem);
  z-index: 1;
  right: 15rem;
}
.ch-images img.ch-2 {
  top: calc(50% - 5rem);
}
.choice-area {
  padding-top: 10rem;
}
/* inspection page css end */

/* pricing page css start */
.ins-c-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.insc-img img {
  border-radius: 1.2rem;
  opacity: 0.7;
}

.dv {
  bottom: 1.8rem;
  color: var(--primaryColor);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}
.insc-item h4 {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  color: var(--secondaryColor);
  font-weight: 600;
}
.service-include {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.service-include-outer {
  background-color: var(--violet);
  border-radius: 2.4rem;
  padding: 6rem 5rem 8rem 5rem;
}

.insc-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0b3b5a;
  top: 0;
  left: 0;
  border-radius: 1.2rem;
  opacity: 0.4;
  z-index: 0;
}
.insc-img span.dv {
  z-index: 1;
}
.service-include li {
  color: #fff;
  font-size: 2.1rem;
  line-height: 1.4;
  position: relative;
  padding: 0 0.5rem;
}
.service-include li::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.service-include li:not(:first-child):before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -15px;
  left: -50%;
}

.ttl-right p {
  white-space: nowrap;
  margin-bottom: 0;
  margin-right: 1.2rem;
}
.form-select {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  padding-right: 2.8rem;
  border-radius: 3rem;
  cursor: pointer;
}
.ttl-twin-pole {
  margin-bottom: 3.5rem;
}
.form-select:focus {
  box-shadow: none;
  outline: none;
}
.inspection-country-area {
  padding-bottom: 8rem;
}
/* pricing page css end */

/* login page css start */
.mx-width {
  max-width: 550px;
}
.access-page {
  height: calc(100vh - 6rem);
  background-color: #f8f8f8;
  width: 100vw;
  padding: 2.4rem 1.5rem;
}
.header-area.type-2 {
  min-height: auto;
  height: 6rem;
  padding: 1rem 0;
}

.access-fm .form-control {
  height: 4.8rem;
  border: 0.2rem solid #e6e6e6;
  border-radius: 0;
  border-bottom-left-radius: 1rem;
  transition: 0.2s;
}
.access-fm .form-control:focus {
  border-color: var(--primaryColor);
}
.access-title h2 {
  color: #0e1f4b;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: relative;
  display: inline-block;
}
.mark-line {
  position: relative;
}
.access-title h2::after,
.details-cat-title::after,
.mark-line::after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 1rem;
  background-color: var(--primaryColor);
  border-radius: 2rem;
  left: 0;
  bottom: 3px;
  z-index: -1;
}
.mark-line::after {
  height: 0.5rem;
  width: 4rem;
  bottom: 1px;
}
.access-title h4 {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 2.4rem;
}
.access-title {
  margin-bottom: 2.4rem;
}
.access-fm .input-inside {
  margin-bottom: 2rem;
}
.access-btns .btn {
  border: 2px solid var(--primaryColor);
  border-radius: 0;
  border-bottom-left-radius: 1rem;
  height: 4.8rem;
  padding: 0 1.5rem;
  line-height: 4.1rem;
  color: var(--white);
}

.access-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 2.4rem;
}

.btn.border-style {
  background-color: transparent;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}
.btn.border-style:hover {
  background-color: var(--secondaryColor);
  color: var(--white);
}

.ut-contents p,
.ut-contents a {
  color: var(--black);
  font-size: 1.5rem;
}
.ut-contents p a {
  transition: 0.3s;
}
.ut-contents p a:hover {
  color: var(--primaryColor);
}
.access-title p {
  font-size: 1.8rem;
}
.access-page::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 720px;
  height: 100vh;
  background-image: url(../img/access-bg.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 140% bottom;
  opacity: 0.1;
  pointer-events: none;
}
.fm-alert {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 5;
}
.fm-alert.show,
.error-p.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}
.error-p {
  color: var(--redTwo);
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  display: none;
}
/* login page css end */

/* faq-page css start */
.sidebar {
  will-change: min-height;
}

.sidebar__inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.fq-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2.4rem;
}
.faq-points li a,
.faq-points li > button {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--secondaryColor);
  text-decoration: none;
  transition: 0.2s;
}
.faq-points li:not(:last-child) {
  margin-bottom: 2rem;
}
.faq-points li a:hover,
.faq-points li > button:hover {
  color: var(--primaryColor);
}
.faq-points li > button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid hsla(0, 0%, 69.4%, 0.2);
  padding: 1.5rem 0;
}
.faq-content h4 {
  font-size: 2.7rem;
  color: var(--violet);
  margin-bottom: 1rem;
  font-weight: 600;
}
.faq-content p {
  margin-bottom: 1.5rem;
}
.faq-content {
  font-size: 1.7rem;
  line-height: 1.5;
}
.fq-g-wrapper .faq-content:not(:last-child) {
  margin-bottom: 5rem;
}
.fq-content-wrapper {
  border-left: 0.1rem solid rgba(177, 177, 177, 0.2);
  padding-left: 2.4rem;
}
.faq-area {
  padding-top: 7.5rem;
}
/* faq-page css end */

/* contact page css start */
.contact-side-info {
  background-color: var(--primaryColor);
  border-radius: 2.4rem;
  padding: 3rem;
  text-align: center;
}
.contact-area {
  padding: 8rem 0;
}
.contact-g-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4rem;
}
.btn.bg_secondary {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  color: var(--white);
  display: flex;
  justify-content: space-around;
}
.btn.bg_secondary svg path {
  fill: var(--white);
}
.btn.bg_secondary:hover svg path {
  fill: var(--secondaryColor);
}
.btn.bg_secondary:hover {
  color: var(--secondaryColor);
  border-color: var(--white);
  background-color: var(--white);
}
.contact-side-info p {
  margin-bottom: 2.4rem;
}

.faq-content li {
  font-size: 1.7rem;
}
a.faq-content li::before {
  top: 2px;
}
.contact-area .faq-content h4 {
  color: var(--secondaryColor);
  margin-bottom: 2rem;
}
.report-list.type-2 li a {
  color: var(--primaryColor);
  display: inline;
}
/* contact page css end */

/* terms-condition page css start */

.terms-privacy-area {
  padding: 6rem 0;
  padding-bottom: 8rem;
}
.para-blk-title {
  color: var(--secondaryColor);
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.para-blk p {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}
.para p:last-child {
  margin-bottom: 0 !important;
}
.para-blk .para ul li {
  margin-bottom: 1.8rem;
}
.para-blk a {
  color: var(--primaryColor);
  text-decoration: underline;
}
.terms-privacy-area .para-blk:not(:last-child) {
  margin-bottom: 5rem;
}
.h_btm_content p.two {
  color: var(--white);
  font-size: 1.5rem;
  font-style: italic;
}
.terms-privacy-page .header-bottom-content-box,
.guide-page .header-bottom-content-box,
.specialist-page .header-bottom-content-box {
  min-height: 37.5rem;
}
/* terms-condition page css end */

/* become-specialist page css start */

.ins-c-g-wrapper.for-pf-area {
  grid-template-columns: 1fr 1fr 1fr;
}
.pf-img img {
  border-radius: 1.2rem;
}
.report-outer-box.for-skills::after {
  background-color: var(--violet);
}
.report-outer-box.for-skills .section-title h2 {
  font-size: 3.4rem;
}
.report-outer-box.for-skills .dq {
  max-width: 525px;
}

.sp-flex-wrapper {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 2.4rem;
}
.sp-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  counter-reset: step;
  grid-row-gap: 5rem;
  margin-top: 5rem;
}
.sp-step li {
  display: grid;
  grid-template-columns: 5.4rem auto;
  grid-gap: 2.4rem;
}
.num-step {
  color: var(--violet);
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 1;
  position: relative;
}
.num-step::after,
.num-step::before {
  position: absolute;
  content: "01";
  counter-increment: step;
  top: 1.5rem;
  left: 0;
  font-weight: inherit;
  font-size: inherit;
  width: 100%;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #051a27;
}
.num-step::before {
  z-index: -1;
  opacity: 0.3;
}
.num-step::after {
  z-index: -2;
  top: 3rem;
  opacity: 0.15;
}
.sp-step li:nth-child(2) .num-step::before,
.sp-step li:nth-child(2) .num-step::after {
  content: "02";
}
.sp-step li:nth-child(3) .num-step::before,
.sp-step li:nth-child(3) .num-step::after {
  content: "03";
}
.sp-step li:nth-child(4) .num-step::before,
.sp-step li:nth-child(4) .num-step::after {
  content: "04";
}
.section.sp-area {
  padding-bottom: 2rem;
  padding-top: 10rem;
}
/* become-specialist page css end */

/* guide page css start */
.list-type-2 li {
  position: relative;
  padding-left: 2.4rem;
}
.list-type-2 li::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' width='20px' height='20px' class='ms-2'%3E%3Cpath fill='%236534ff' d='M16.384 11.375H4v1.25h12.384a7.693 7.693 0 00-.951.808c-1.244 1.244-2.058 2.909-2.058 4.567h1.25c0-1.342.686-2.677 1.692-3.683 1.006-1.006 2.341-1.692 3.683-1.692v-1.25c-1.342 0-2.677-.686-3.683-1.692C15.311 8.677 14.625 7.342 14.625 6h-1.25c0 1.658.814 3.323 2.058 4.567.295.295.614.566.951.808z'%3E%3C/path%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
}
.para-container {
  max-width: 60rem;
}
.guide-area {
  padding: 6rem 0;
  padding-bottom: 8rem;
}
.para-blk.text-side-2,
.para-blk.text-side-2 p {
  font-size: 1.8rem;
}
.guide-area .para-blk:not(:last-child) {
  margin-bottom: 5rem;
}
.faq-content p a {
  color: var(--primaryColor);
}

.heighlight-wrap {
  background-color: var(--violet);
  padding: 1.5rem 2rem;
  border-radius: 1.2rem;
  color: var(--white);
  margin-bottom: 2rem;
}
.para-blk-3rd-title {
  color: var(--secondaryColor);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.guide-area .para-blk .para:not(:last-child) {
  margin-bottom: 3rem;
}
.para-blk-2nd-title {
  font-size: 2.7rem;
  color: var(--primaryColor);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.guide-area .para-blk .para .para-3rd:not(:last-child),
.guide-area .para-blk .para .para-2nd:not(:last-child) {
  margin-bottom: 3rem;
}
/* guide page css end */

/* resume-details page css start */
.rs-details-area {
  padding-top: 14rem;
  padding-bottom: 8rem;
  font-family: var(--font_roboto);
}
.grid-table .tbl-head,
.grid-table .tbl-rw {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
.grid-table .tbl-rw {
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #ededed;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.tbl-th,
.tbl-td {
  font-family: var(--font_montserrat);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  min-height: 64px;
  justify-content: center;
}
.tbl-head .tbl-th:first-child,
.tbl-body .tbl-rw .tbl-td:first-child {
  justify-content: flex-start;
}
.tbl-head .tbl-th:last-child,
.tbl-body .tbl-rw .tbl-td:last-child {
  justify-content: flex-end;
}
.tbl-head .tbl-th {
  color: #0e1f4b;
  font-size: 18px;
  font-weight: 600;
}
.tbl-td {
  font-size: 1.6rem;
  color: #0e1f4b;
}
.tbl-head {
  background-color: transparent;
}
.tbl-rw .tbl-td:last-child {
  border-right: 0;
}
.tbl-td p {
  margin-bottom: 0;
}

.tbl-rw {
  background-color: rgba(240, 0, 0, 0.25);
}
.badge.type-1 {
  background-color: var(--red);
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  font-weight: 600;
  font-family: var(--font_epilogue);
  padding-top: 0.8rem;
  font-size: 1.3rem;
}
.legend-blk {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  padding-top: 3.4rem;
  border-radius: 0.4rem;
}
.legend-p {
  top: -1.5rem;
  background-image: linear-gradient(60deg, #e5d600 20%, #00f098 120%);
  border-radius: 50px;
  padding: 0 1rem;
  color: var(--white);
  font-weight: 600;
  font-size: 1.4rem;
  font-family: var(--font_montserrat);
  height: 3rem;
  line-height: 3rem;
  left: 2rem;
}
.tab-trigger-design .nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.tab-trigger-design .nav button {
  border: 0;
  color: var(--secondaryColor);
  font-weight: 600;
  font-size: 2.4rem;
  padding: 1rem 1.5rem;
  background-color: transparent;
  position: relative;
  line-height: 1.2;
}
.tab-trigger-design .nav button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primaryColor);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.tab-trigger-design .nav button.active::after {
  opacity: 1;
  visibility: visible;
}
.tab-trigger-design .nav button.active {
  color: var(--primaryColor);
}
.tb-content-wrapper .legend-blk:not(:last-child) {
  margin-bottom: 4.5rem;
}

.legend-title {
  font-family: var(--font_montserrat);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--secondaryColor);
  margin-bottom: 1rem;
  line-height: 1.1;
}
.style-one {
  color: #0e1f4b;
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
}
.legend-p.bg_red {
  background: var(--red);
}

.badge.badge-accent {
  background-color: var(--primaryColor);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: var(--font_montserrat);
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.download-btn {
  display: inline-block;
  background-image: linear-gradient(60deg, #e5d600 0%, #00f098 100%);
  border-radius: 5rem;
  height: 3.6rem;
  line-height: 3.5rem;
  color: var(--white);
  text-decoration: none;
  padding: 0 1.5rem;
  transition: 0.2s;
}
.download-btn:hover {
  color: var(--white);
}
.detail-cat-nav li a {
  text-decoration: none;
  font-size: 1.6rem;
  background-color: var(--secondaryColor);
  color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  margin: 0.5rem;
  display: inline-block;
  line-height: 1;
}
.detail-cat-nav {
  background-color: var(--white);
  padding: 1rem 0;
  margin-top: -1.5rem;
  padding-top: 2.5rem;
}
.twocol-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.4rem;
}
.twocol-grid.row.gx-5 {
  --bs-gutter-x: 2.4rem;
}
.input-box input {
  height: auto;
  padding: 1.2rem;
  padding-bottom: 0.7rem;
  border-radius: 0.4rem;
  border-width: 0.2rem;
}
.input-box label {
  font-size: 1.2rem;
  top: -7px;
  background-color: var(--white);
  padding: 0 0.5rem;
  left: 1rem;
  color: rgba(0, 0, 0, 0.38);
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.details-cat-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3.4rem;
  position: relative;
}
.details-cat-title::after {
  height: 0.5rem;
  bottom: 0.5rem;
}
.detail-lf {
  position: relative;
  z-index: 50;
  margin-bottom: 3rem;
}
.tertiary-pole-title h5 {
  color: var(--tertiaryColor);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 1.5rem;
}
.unlock {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primaryColor);
  border: 0;
  color: var(--white);
  font-family: var(--font_montserrat);
  font-weight: 600;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  line-height: 1;
  display: flex;
  align-items: center;
  min-width: 10rem;
  justify-content: center;
  max-width: 20rem;
}
.unlock img {
  width: 1.5rem;
  margin-left: 0.5rem;
}

.modal-content {
  border-radius: 2.4rem;
  padding: 3rem;
}
.unlock-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}
.unlock-input .form-control {
  width: 5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  text-align: center;
}
[data-blur="true"] .form-control,
[data-blur="true"] input {
  color: transparent;
  text-shadow: 0 0 4px #000000ba;
  pointer-events: none;
}
[data-blur] .unlock {
  right: 1rem;
  left: auto;
  transform: translateY(-50%);
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  min-width: auto;
}
.detail-rg .details-cat:not(:last-child) {
  margin-bottom: 4rem;
}
.info-group .input-box {
  margin-top: 2rem;
}
.badge.bg_primary {
  background-color: var(--primaryColor);
}
.badge.bg_tertiary {
  background-color: var(--tertiaryColor);
}
.mb-20 {
  margin-bottom: 2rem;
}
.modal-content-wrap h2 {
  color: var(--secondaryColor);
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.modal_close {
  width: 3rem;
  height: 3rem;
  right: -3rem;
  top: -4rem;
  z-index: 1;
  cursor: pointer;
}
.detail-lf {
  will-change: min-height;
}

.detailsNav-inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}
.badge.bg_secondary {
  background-color: var(--secondaryColor);
}
.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  opacity: unset;
}
.last-child-margin-bottom-0 .vehicle_single.mb-5:last-child {
  margin-bottom: 0 !important;
}
.photo-wrap-type-0 {
  background-color: rgba(240, 0, 0, 0.25);
  padding: 0.6rem;
  border-radius: 0.5rem;
}
.photo-wrap-type-0 .photo-blk:not(:last-child) {
  margin-bottom: 0.6rem;
}
.photo-blk img {
  border-radius: 0.5rem;
}
/* resume-details page css end */
